.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: lightblue;
    font-family: jaldi;
}

.registerForm{
    contain: content;
    padding-top: 40px;
    padding: 20px;
    width: 350px;
    border-radius: 40px;
    background-color: lightgray;
    box-shadow: 13px 13px 20px lightsteelblue,
    -13px -13px 20px lightsteelblue;
}
.loginForm{
    contain: content;
    padding-top: 40px;
    padding: 20px;
    width: 300px;
    border-radius: 40px;
    background-color: lightgray;
    box-shadow: 13px 13px 20px lightsteelblue,
    -13px -13px 20px lightsteelblue;
}

.formTitle{
    font-size: 28px;
    font-weight: 600;
    color: rgb(80, 80, 241);
    margin-top: 90px;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 0.5px;
    padding-top: 24px;
    user-select: none;
}
.formSubtitle{
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    color: rgb(248, 104, 104);
    padding-top: 5px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    user-select: none;
} 
.info{
    width: 100%;
    padding: 5px 5px 5px 5px;
}
.info input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
}
.name,.email,.password{
    width: 100%;
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px lightsteelblue,
                inset -8px -8px 8px   #e6e6e6;           
    text-align: left;
}


.name::-moz-placeholder{
    font-size: 15px;
    font-weight: 700;
    color: rgb(80, 80, 241);
    text-align: center;
}
.submit{
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 25px;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 610;
    font-family: atma;
    color: #fff;
    text-align: center;
    box-shadow: 3px 3px 8px #8c8c8c, -3px -3px 8px  #ffffff;
    transition: all 0.05s ease;
}
.submit:hover{
    background-color: lightskyblue;
    color: black;
}